#notes {
  .info { color: #666; }

  .media {
    &:last-child {
      padding-bottom: 0px;
      border-bottom: 0px;
    }
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;

    .media-heading {
      a { font-size: 16px; }
    }
    .info { color: #999; font-size: 14px; }
  }

  .markdown {
    min-height: 493px;

    h2:first-child { text-align: center; }
  }
}
