<% title_tag t('plugin.note') %>

<div class="row">
  <div class="col-sm-9">
    <div class="card card-lg">
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <%= render "sidebar" %>
</div>
